
  #body{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

.shrink 
{
   width:100px;/*change the size here*/
}

#header_scroll {
    background-image: url("../../resources/basketball_banner_240px.png");
    background-color: #000000; /* Grey background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 50px 10px; /* Some padding */
    color: rgb(255, 255, 255);
    text-align: center; /* Centered text */
    font-size: 75px; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    height: 240px;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }