<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="../icon/basketball.png">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
    <div id='header_scroll'>
            NBA 2019 - Player Stats 
    </div>
    <b></b>
    <div style="margin-top:200px;padding:15px 15px 2500px;font-size:25px">
        <p><b>TThe 2018–19 NBA season was the 73rd season of the National Basketball Association (NBA). The regular season began on October 16, 2018, and ended on April 10, 2019</b></p>
        <p>Scroll down this frame to see the effect!</p>
        <p>Scroll to the top to remove the effect.</p>
        <p>Lorem ipsum dolor dummy text sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    <div id='description'></div>
    <div id='bubble'></div>
    <div id='chord-chart'></div>
    <div id='shot-chart'></div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="../static/js/html_design.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <!--<script src="static/js/chord.js"></script>--> 
</body>

</html>