<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NBA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
    
        <div id='description'></div>
        <div class="row">
            <div class="col-md-2">
                <select id="x-stat"></select>
                <select id="y-stat"></select>
              <div id="bubble"></div>
            </div>
        </div>
        <div id='chord-chart'></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/chord.js') }}"></script>
        <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
        <script src="{{ url_for('static', filename='js/shotchart.js') }}"></script>
    </body>
    
    </html>